*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
header{
    width: 100%;
}
.backgrondimg1{
    width: 100%;
    background: url(images/02_02-scaled.jpg) no-repeat;
    background-size: cover;
}
.backgrondimg2{
    width: 100%;
    background: url(images/Why-choose-us-header-scaled.jpg) no-repeat;
    background-size: cover;
}
.backgrondimg3{
    width: 100%;
    background: url(images/07-Location-header-scaled.jpg) no-repeat;
    background-size: cover;
}
.backgrondimg4{
    width: 100%;
    background: url(images/2-BHK-1.jpg) no-repeat;
    background-size: cover;
}
.backgrondimg5{
    width: 100%;
    background: url(images/3-BHK-Premium.jpg) no-repeat;
    background-size: cover;
}
.backgrondimg6{
    width: 100%;
    background: url(images/4-BHK-SERVANT-ROOM-1.jpg) no-repeat;
    background-size: cover;
}
.backgrondimg7{
    width: 100%;
    background: url(images/Technical-Specifications-scaled.jpg) no-repeat;
    background-size: cover;
}
.backgrondimg8{
    width: 100%;
    background: url(images/Gallery-scaled.jpg) no-repeat;
    background-size: cover;
}
.head{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}
.head figure{
    flex-basis: 20%;
    
}
.head figure img{
    width: 43%;
    margin-left: 50px;
    margin-top: 30px;
}
nav{
    flex-basis: 75%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 37px 20px 0px 20px;
    position: relative;
}
nav ul li a{
    color: white;
    font-weight: 600;
    padding: 15px 0px;
}
.upperline::before{
    content: "";
    position: relative;
    top: -33px;
    background-color: #bda588;
    height: 3px;
    width: 100%;
    z-index: 2;
    display: block;
}
.upperline22:hover::before{
    content: "";
    position: relative;
    top: -33px;
    background-color: #bda588;
    height: 3px;
    width: 100%;
    z-index: 2;
    display: block;
}
.submenu , .submenu11{
    background-color: white;
    padding: 16px 40px;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    font-family: sans-serif;
    color: rgb(101, 99, 99);
    font-size: 14px;
    position:absolute;
    transform: scale(1,0);
    transition: 0.3s;
    transform-origin: top;
    overflow: hidden;
}
.sideline a , .submenu a{
    line-height: 35px;
    font-family: sans-serif;
    color: rgb(101, 99, 99);
    font-size: 14px;
}

.upperline:hover .submenu {
    transform: scale(1,1);
}
.upperline:hover .submenu11{
    transform: scale(1,1);
}
.submenu::before{
    content: "";
    width: 15px;
    height: 2px;
    background-color: #bda588;
    position: absolute;
    top: 34px;
    left: 10px;
    transform: translate(-40px);
    
    transition: 0.2s;
    transform-origin: top;
}
.submenu:hover::before{
    transform: translate(0px);
}
.sideline{
    position: relative;
    top: 14px;
}
.sideline::before{
    content: "";
    width: 15px;
    height: 2px;
    background-color: #bda588;
    position: absolute;
    top: 18px;
    left: -30px;
    transform: translate(-40px);
    transition: 0.2s;
    transform-origin: top;
}
.sideline:hover::before{
    transform: translate(0px);
}
.headmid{
    max-width: 1320px;
    margin: 150px  auto;
    display: flex;
}
.midside{
    margin: 0px 50px 50px 50px;
}
.line{
    width: 1.5px;
    height: 180px;
    background-color: white;
    
}
.icon{
    color: white;
}
.icon i{
    padding-top: 20px;
    font-size: 12px;
    cursor: pointer;
}
.midcontent{
    color: white;
}
.contentupper{
    font-size: 12px;
    font-weight: 800;
}
.midcontent h2{
    margin: 20px 0px;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}
.midcontent button {
    margin-top: 125px;
    background-color: rgb(119, 119, 119);
    padding: 5px 5px;
    border: 1px solid white;
}
.midcontent button a{
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.midcontent >p{
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: 600;
}
.content{
    display: flex;
    font-family: sans-serif;
    margin-top: 50px;
    padding-bottom: 30px;
}
.phoneno{
    font-family: sans-serif;
    margin-left: 10px;
}
.phoneno p{
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 20px;
}
.contentimg{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}
.contentimg img{
    width: 40px;
    height: 40px;
    position: relative;
    top: 11px;
    left: 9px;
}
.sideicon{
    position: fixed;
    top: 43%;
    right: -82px;
    z-index: 888;

}
.sideicon a img{
    display: block;
    width: 45px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin-bottom: 6px;
    position: relative;
    transition: 0.4s;
    z-index: 8;
}
.sideicon a, .sideicon figure{
    position: relative;
}
.sideicon a:hover img{
    transform: rotate(360deg);
}
.sidetext{
    display: block;
    background: #fff;
    color: #1e2f51;
    z-index: 5;
    padding: 7px;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 20px 0px 0px 20px;
    position: relative;
    width: 150px;
    top: -41px;
    left: -150px;
    transform: scale(0,1);
    transition: 0.3s;
}
.sideicon a:hover .sidetext{
    transform: scale(1,1);
    background-color: aqua;
}
.who{
    max-width: 1320px;
    background-color: white;
    margin: 0px auto;
    padding-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.who aside{
    flex-basis: 45%;
    margin-left: 20px;
}
.who aside span{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: sans-serif;
    color: #bda588;
}
.who aside h2{
    color: #173e62;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 25px;
}
.who article{
    flex-basis: 40%;
    display: flex;
    
}
.number{
    font-size: 99px;
    font-weight: 600;
    color: #bda588;
}
.lefttext span{
    font-size: 100px;
    font-weight: 100;  
    font-style: normal; 
    color: #bda588;
    position: relative;
    top: -28px;
    left: -25px;
}
.numbertext{
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    line-height: 2.5;
}
.about{
    width: 100%;
    background-color: white;

}
.uptownabout{
    max-width: 1320px;
    margin: 0px  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.uptownabout figure{
    flex-basis: 38%;

}
.uptownabout figure img{
    width: 100%;
    border-radius: 6px;
}
.abouttext{
    flex-basis: 58%;
}
.abouttext h3{
    color: #173e62;
    font-size: 24px;
    font-weight: 700;
    margin: 30px;
}
.abouttext p{
    color: #66717a;
    line-height: 28px;
    font-weight: 500;
    margin-right: 20px;
    margin-bottom: 30px;
}
.abouttext p:nth-child(4){
    color: rgb(102, 113, 122);
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}
.aboutbutton{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    background-color: #0077b9;
    padding: 20px 20px;
    
}
.facts{
    max-width: 1320px;
    margin: 40px auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.facts h2{
    width: 100%;
    color: #173e62;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0px;
}
.quickfacts{
    flex-basis: 22%;
    text-align: center;
    background: url(images/bg-setion.jpg);
}
.quickfacts11{
    flex-basis: 22%;
    text-align: center;
}
.quickfacts svg,.quickfacts11 svg{
    width: 20%;
}
.quickfacts h4,.quickfacts11 h4{
    color: #173e62;
    font-size: 24px;
    font-weight: 500; 
}
.quickfacts span,.quickfacts11 span{
    font-size: 32px;
    font-weight: 500;
    color: #bda588;
    line-height: 80px;
}
.Offering{
    max-width: 1320px;
    margin: 40px auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.offerhead{
    flex-basis: 100%;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
}
.Offering h2{
    flex-basis: 65%;
    color: #173e62;
    font-size: 40px;
    font-weight: 700;
    padding-left: 20px;
}
.Offering span{
    flex-basis: 20%;
    margin-right: 70px;
    color: #bda588;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
    padding: 20px;
    border-bottom: 2px solid #bda588;
}
.ouroffer{
    flex-basis: 30%;
    background-color: white;
    margin-left: 25px;
    margin-bottom: 30px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px rgb(218, 214, 214);
}
.ouroffer img{
    width: 100%;
    height: 260px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    transform: scale(1,1);
    transition: 1s;
}
.ouroffer figure{
    width: 100%;
    overflow: hidden;
}
.ouroffer:hover img{
    transform: scale(1.2,1.2);
}
.ouroffer h4{
    color: #173e62;
    font-family: 'Raleway';
    font-size: 20px;
    margin: 6px 20px;
    margin-top: 15px;  
    font-weight: 700;
}
.ouroffer span{
    color: #66717A;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 500;
    margin: 0px 20px;
    border-bottom: none;
    
}
.ouroffer ul{
    margin-top: 30px;
}
.ouroffer li{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}
.ouroffer li label{
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.ouroffer li p{
    color: #66717a;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 0px;
}
.bottomborder{
    border-bottom: 0.5px solid #dadcde;
}
.highlits{
    width: 100%;
    background-color: #f7f2ec;
}
.project{
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 90px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project h2{
    font-size: 40px;
    padding: 60px 0px;
    width: 100%;
    color: #173e62;
    font-weight: 700;
}
.ourproject{
    flex-basis: 18%;
    margin-bottom: 60px;
}
.ourproject i{
    font-size: 55px;
    color: #bda588;
    margin-bottom: 20px;
}
.ourproject img{
    width: 70px;
    height: 68px;
    margin-bottom: 2px;
}
.ourproject p{
    color: #000;
    font-size: 12px;
}
.why{
    width: 100%;
    background-color: white;
}
.affordable{
    max-width: 1320px;
    margin: 100px  auto;
    
}
.affordable span{
    color: rgb(189, 165, 136);
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 20px;
}
.affordable h2{
    color: #173e62;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 30px 0px  30px 20px;
}
.elementor{
    max-width: 1320px;
    background: url(images/bg-setion.jpg) no-repeat;
    background-size: cover;
    background-position: 305px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto;
}
.elementor figure{
    flex-basis: 45%;
}
.elementor figure img{
    width: 100%;
}
.elementortext{
    flex-basis: 40%;
    padding: 50px 0px;
}
.textrebuild{
    flex-basis: 50%;
    margin: 135px 0px;
}
.textrebuild h4{
    color: #173e62;
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
}
.elementortext h3{
    color: #173e62;
    font-size: 30px;
    font-weight: 600;
    padding-left: 30px;
}
.textfriendly{
    color: rgb(102, 113, 122);
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    overflow-wrap: break-word;
    margin: 30px 40px;
}
.textbutton{
    flex-basis: 7%;
}
.textbutton a button{
    background-color: white;
    padding: 10px;
    border: none;
    margin-bottom: 15px;
    display: block;
}
.textbutton a button:hover{
    background-color: #bda588;
}
.Impression{
    width: 100%;
    background: url(images/bg1-h1.jpg);
    padding: 160px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.videotext{
    flex-basis: 30%;
    margin-left: 200px;
}
.videotext span{
    font-size: 11px;
    color: #bda588;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
}
.videotext h2{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 47px;
    line-height: 50px;
    
}
.videotext h4{
    font-size: 24px;
    color: #fff;
    display: block;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 12px;
}
.textcontent{
    color: #b0b9c1;
    font-size: 18px;
    line-height: 36px;
}
.videoplay{
    flex-basis: 50%;
}
.videoplay video{
    width: 100%;
    max-height: 500px;
}
.Organization{
    max-width: 1320px;
    margin: 30px  auto;
    background-color: #fff;
}
.Organization h2{
    color: #173e62;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 80px 0px;
}
.Organization p{
    max-width: 1190px;
    margin: 0px auto;
    margin-bottom: 50px;
    color: #66717a;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
.Goal{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.goalicon{
    flex-basis: 15%;
    text-align: center;
}
.goalicon img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.goalicon h4{
    text-align: center;
    font-size: 18px;
    color: #173e62;
    font-weight: 500;
    line-height: 22.5px;
}
.Story{
    margin: 125px 0px;
}
.elementortext21{
    flex-basis: 70%;
    padding: 50px 0px;
}
.elementortext21 h3{
    color: #173e62;
    font-size: 30px;
    font-weight: 600;
    padding-left: 30px;
}
.textfriendly p{
    margin-bottom: 20px;
}
.successicon{
    width: 100%;
    display: flex;
    justify-content: center;
}
.successtext{
    flex-basis: 30%;

}
.successtext img{
    width: 50px;
    height: 50px;
    margin-left: 90px;
}
.successtext h4{
    text-align: center;
    color: #173e62;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.5px;
}
.Competitive{
    max-width: 1260px;
    background-color: #fff;
    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2%;
}
.Advantages{
    flex-basis: 25%;
    border-right: 1px solid #bda588;
    text-align: center;
    margin-left: 30px;
}
.Advantages h2{
    margin-top: 40px;
    color: #173e62;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.Advantages2{
    flex-basis: 38%;
    border-right: 1px solid #bda588;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advicon{
    flex-basis: 48%;
    text-align: center;
    margin-top: 10px;
}
.advicon h4{
    margin: 10px;
    color: #173e62;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.5px;
}
.Advantages3{
    flex-basis: 28%;
}
.project21{
    margin: 4px 7px;
    display: flex;
    justify-content: space-between;
}
.project21 span{
    color: #173e62;
    font-weight: 700;
    line-height: 32px;
}
.linefrist{
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: #28a745;
}
.linefrist2{
    display: flex;
    justify-content: center;
}
.linesecond{
    flex-basis: 80%;
    background-color: #17a2b8;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
}
.linesecond2{
    flex-basis: 20%;
    background-color: #eee;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    
}
.linefrist2 h2{
    color: #173e62;
    font-size: 28px;
    font-weight: 700;
    margin: 20px 20px 0px 10px;
}
.downloadbutton{
    text-align: center;
    margin: 90px  auto;
}
.downloadbutton a{
    color: #fff;
    background-color: #173e62;
    font-size: 25px;
    font-weight: 700;
    padding: 18px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px  2px #173e62;
}
#footer{
    width: 100%;
    background: url(images/footer-01.jpg);
}
.footermain{
    max-width: 1320px;
    margin: 0px auto;
}
.footermain >h2{
    color: #fff;
    font-size: 40px;
    margin: 0px 100px;
    padding: 50px 0px;
    font-weight: 700;
    line-height: 50px;
}
.footercontain{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 25px;
    

}
.container1{
    flex-basis: 28%;
}
.container3{
    flex-basis: 28%;
}
.container1 p{
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    margin-left: 55px;
}
.container3 p{
    color: #fff;
    font-size: 13px;
    font-weight: 700;
}
.pnumber a{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-left: 55px;
    line-height: 70px;
    font-family: sans-serif;
}
.address{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-left: 55px;
    margin-bottom: 50px;
    line-height: 28px;
    font-family: sans-serif;
    
}
.footercontain21{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-left: 55px;
}
.footercontain21 i{
    color: #fff;
    font-size: 23px;
    position: relative;
    right: 70px;
    top: 20px;
}
.footercontain21 i:hover{
    color: #bda588;
}
.clearfix{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    word-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
}
.borderbuttom{
    width: 90%;
    margin: 20px auto;
    border: 1px  solid #bda588;
}
.footer2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 50px;
}
.fcontainer{
    flex-basis: 20%;
}
.fcontainer >h2 , .fcontainer11 >h2{
    font-size: 16px;
    color: #bda588;
    letter-spacing: 4px;
    margin: 30px 0px;
    text-transform: uppercase;
}
.fcontainer p{
    color: white;
    font-family: sans-serif;
    line-height: 30px;
    font-size: 15px;
}
.fcontainer11{
    flex-basis: 28%;
}
.fcontainer11 ul{
    display: flex;
    flex-wrap: wrap;
}
.fcontainer11 ul li{
    flex-basis: 48%;
}
.fcontainer11 ul li a ,.fcontainer ul li a{
    color: #fff;
    font-family: sans-serif;
    line-height: 40px;
    font-size: 15px;
}
.fcontainer i{
    color: #fff;
    font-size: 18px;
    position: relative;
    top: 50px;
}

.lasttext{
    width: 100%;
    margin-left: 20px;
    color: #fff;
    line-height: 26px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
}
.lastline{
    color: white;
    text-align: center;
    padding-bottom: 30px;
}
.lastline a{
    color: #fff;
}
.whychoose{
    max-width: 1320px;
    margin: 60px  auto;
    text-align: center;
    padding-bottom: 126px;
}
.whychoose h1{
    width: 100%;
    color: #fff;
    font-size: 52px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 66px;
}
.homelink{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 0px auto;
}
.homelink span, .homelink i, .homelink span a{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
.homelink span a:hover{
    color: #bda588;
}
.whereus{
    width: 100%;
}
.Where{
    max-width: 1320px;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
}
.Where h2{
    color: #173e62;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    margin: 40px auto;
    margin-top: 160px;
}
.Where >p{
    max-width: 750px;
    margin: 0px auto;
    margin-bottom: 97px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: #66717a;
    line-height: 30px;
}
.allproduct{
    max-width: 1220px;
    margin: 60px auto;
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.allproduct figure{
    flex-basis: 58%;
}
.allproduct figure img{
    width: 100%;
}
.alltext{
    flex-basis: 34%;
    text-align: left;
}
.alltext h4{
    color: #173e62;
    font-size: 24px;
    line-height: 30px;

}
.alltext p{
    color: #66717a;
    font-size: 15px;
    line-height: 30px;

}
.allproduct h2{
    width: 100%;
    color: #173e62;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0px auto;
    margin-top: 160px;
}
.deliveredProjects{
    flex-basis: 30%;
    text-align: center;
    margin: 40px 0px;
}
.boxtext{
    font-size: 15px;
    line-height: 30px;

}
.boxtext h3{
    color: #173e62;
    font-size: 20px;
    font-weight: 700;
}
.boxtext p{
    color: #66717a;
    font-size: 15px;
    line-height: 30px;
}
.Locationtext{
    margin: 50px 45px;
}
.Locationtext p{
    font-size: 14px;
    color: #66717a;
    line-height: 25px;
    text-align: justify;
}
.locationmap{
    width: 100%;
    margin: 50px 0px;
}
.neighborhood{
    background-color: #f7f2ee;
}
.neighborhoodtext{
    flex-basis: 51%;
    margin: 120px 0px;
}
.neighborhoodimg{
    flex-basis: 45%;
}
.neighborhoodimg img{
    width: 100%;
}
.alldrives{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin: 110px 0px;
}
.drive{
    flex-basis: 21%;
    border: 1px solid #bda588;
}
.drive h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 37.5px;
    color: #fff;
    background-color: #bda588;
    padding: 10px;
    margin: 2px;
}
.drive ul{
    margin: 0px 20px;
    margin-top: 40px;
}
.drive ul li{
    display: flex;
    
    align-items: center;
    gap: 5%;

}
.drive ul li span{
    font-size: 18px;
    line-height: 30px;
    color: #0d0d0d;
}
.siteplanmap{
    margin: 30px 50px;
}
.siteplanmap figure img{
    width: 100%;
}
.portfolio{
    max-width: 760px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    top: 30px;
    box-shadow: 0px 7px 35px rgba(0,0,0,.07);
}
.portfolio ul{
    display: flex;
    justify-content: center;
    gap: 8%;
    padding: 24px;
    
}
.portfolio ul li a{
    color: #173e62;
    font-size: 15px;
    font-weight: 500;
}
.Overview{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-bottom: 50px;
}
.Overview figure{
    flex-basis: 30%;
}
.Overview figure img{
    width: 100%;
}
.Overviewtext{
    flex-basis: 30%;
}
.Overviewtext p{
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}
.Overviewindex{
    flex-basis: 28%;
    margin-right: 30px;
}
.Overviewindex ul{
    border-left: 1px solid #66717A;
}
.Overviewindex ul li{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.metatitle{
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 30px;
}
.metavalue{
    font-size: 15px;
    line-height: 30px;
    color: #66717a;
}
.project2 h2 {
    color: #173e62;
}
.tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4%;
}
.tabs span{
    font-size: 15px;
    margin-bottom: 40px;
}
.Where >figure{
    max-width: 70%;
    margin: 0px auto;
}
.Where figure img{
    width: 100%;
}
.information{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 40px auto;
}
.infocontenair{
    flex-basis: 13%;
    text-align: center;
    border: 2px solid #bda588;
    padding: 23px 0px;
}
.infocontenair figure{
    width: 28%;
    margin: 0px auto;
}
.infocontenair img{
    width: 100%;
}
.infotext{
    margin: 20px 0px;
}
.infotext h3{
    font-size: 20px;
    font-weight: 500;
    color: #173e62;
}
.infotext p{
    font-size: 15px;
    font-weight: 400;
    color: #66717a;
}
.gallery{
    max-width: 1320px;
    margin: 80px auto;
    text-align: center;
}
.gallery h2{
    font-size: 40px;
    font-weight: 700;
    color: #173e62;
    padding: 40px 0px;
    padding-top: 140px;
    
}
.gallery p{
    max-width: 275px;
    margin: 0px auto;
    line-height: 33px;
    font-weight: 500;
    font-family: sans-serif;
    color: #000;
    border-bottom: 2px solid #bda588;
    margin-bottom: 70px;
}
.gallerycontaint{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-bottom: 150px;
}
.gallerycontaner{
    flex-basis: 22%;
}
.gallerycontaner figure img{
    width: 100%;
}
.wherelocation h2{
    margin-top: 0px;
    margin: 20px auto;
}
.wherelocation p{
    line-height: 24px;
    margin-bottom: 30px;
}
.ourproject input {
    background-color: #f5f5f5;
    color: #66717a;
    font-size: 15px;
    line-height: 30px;
    padding: 10px 30px;
    border: none;
}
.ourproject select{
    width: 100%;
    background-color: #f5f5f5;
    color: #66717a;
    font-size: 15px;
    line-height: 30px;
    padding: 16px 30px;
    background-attachment: scroll;
    border: none;
}
.ourproject button{
    background-color: #bda588;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    word-spacing: 1px;
    font-size: 15px;
    line-height: 30px;
    padding: 11px 30px;
    border: none;
}
.alldrives2{
    margin: 50px 0px;
}
.downloadbutton2{
    text-align: center;
    margin: 90px  auto;
}
.downloadbutton2 a{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000;
    cursor: pointer;
    padding: 20px 40px; 
    border-radius: 30px;
    border-style: dotted;
}
.ouroffer2{
    flex-basis: 30%;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 3px;
    
}
.offerhead2{
    width: 95%;
    margin-top: 45px;
    margin-bottom: 90px;
    margin-left: 63px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.ouroffer2 >figure , .ouroffer2 figure img{
    width: 100%;
}
.widget-container{
    max-width: 1150px;
    margin: 0px auto;
    background-color: #e1e1e1;
    margin-bottom: 40px;
    text-align: left;
}
.widget-container11{
    max-width: 1150px;
    margin: 0px auto;
    margin-bottom: 40px;
    text-align: left;
}
.Laminated{
    color: #7d8794;
    font-size: 15px;
    text-align: left;
    padding: 9px;
    border-left: 1px solid #d5d6d8;
}
.heading{
    color: #173e62;
    font-size: 18px;
    font-weight: 500;
    padding: 9px;
    padding-right: 109px;
}
.heading11{
    color: #173e62;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.tablemain{
    color: #173e62;
    font-size: 15PX;
    font-weight: 500;
    padding: 9px;
    padding-right: 100px;
}

.widget-container p tr:nth-child(odd) td{
    background-color: white;
}
.rowcolor{

}
.rowcolor p:nth-child(2){
    background-color: white;
}
.widget-container table tbody tr:nth-child(odd) td{
    background-color: white;

}